{% load static %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}
    <div class="action">
      <H1>SUPPLIERS</H1>
      <div class="search_bar">
        <input type="text" placeholder="Search Suppliers" />
      </div>
      <a href="{% url 'sowaf:add-suppliers' %}" style="text-decoration: none;">
        <button class="button">
          <span class="button_text">ADD NEW</span>
          <span class="button_icon">
            <i class='bx bx-folder-plus'></i>
          </span>
        </button>
      </a>

        <div>
       <form action="{% url 'sowaf:import-customers' %}" method="POST" enctype="multipart/form-data" style="display: flex;">
         {% csrf_token %}
        <input type="file" name="excel_file" accept=".xlsx, .xls" required style="display: none;" id="excelInput" onchange="this.form.submit()" />
        <label for="excelInput" class="button" style="cursor: pointer;">
         <span class="button_text">IMPORT</span>
        <span class="button_icon">
        <i class='bx bx-upload'></i>
        </span>
       </label>
         </form>
       </div>
        <button class="button">
          <span class="button_text">EXPORT</span>
          <span class="button_icon">
            <i class='bx bx-export' ></i>
          </span>
        </button>
        <span>
          <i class='bx bx-printer' ></i>
          <i class='bx bx-cog' ></i>
        </span>

    </div>
    <div class="main_body">
      <table class="content-table">
        <thead>
          <tr>
            <th>LOGO</th>
            <th>SUPPLIER</th>
            <th>COMPANY NAME</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>OPEN BALANCE</th>
            <th>OPERATIONS</th>
            <th>ACTION <i class='bx bxs-down-arrow' ></i></th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers %}
          <tr>
            <td>
          {%if supplier.logo %}
              <img src=" {{ supplier.logo.url }}" alt="picture" style="width: 40px; height: 40px; border-radius: 50%;">
              {% else %}
              <i class='bx bx-user-circle'></i>
              {% endif %}
            </td>
            <td>{{supplier.contact_person}}</td>
            <td>{{supplier.company_name}}</td>
            <td>{{supplier.contact}}</td>
            <td>{{supplier.email}}</td>
            <td>{{supplier.open_balance}}</td>
            <td>
            <a href="{% url 'sowaf:edit-supplier' supplier.id %}" title="Edit" style="color:green;">
              <i class='bx bxs-edit'></i> 
                </a>
                <a href="{% url 'sowaf:delete-supplier' supplier.id %}" title="Delete" onclick="return confirm('Are you sure you want to delete this customer?');">
               <i class='bx bxs-trash' style="color:green; margin-left: 10px;">

    </i>
  </a>
</td>
            <td>Retire/inactive</td>
          </tr>
          {% empty %}
                       <tr>
      <td colspan="6">No customers available.</td>
    </tr>
    <tr>
      <td colspan="6">
      {% if messages %}
      {% for message in messages %}
        {% if messages.tags == 'error' %}
        <p style="color:green; text-align:center;">{{message}}</p>
        {% else %}
        <p style="color:green; text-align:center;">{{message}}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
      </td>
          {% endfor %}
        </tbody>
      </table>
    </div>
 {% include 'includes/footer.html' %}